#home {
  display: flex;
}

#homecontent {
  padding: 28px 3%;
  width: 100%;
  background: linear-gradient(180deg, #222 0%, #1F1F1F 11.64%, #171717 25.66%, #161616 32.94%, #151515 35.98%, #131313 44.89%, #121212 55.22%, #121212 75.34%, #121212 85.45%, rgba(18, 18, 18, 0.637) 100%);
  color: white;
  height: calc(100vh - 92px);
}
#hometop {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#setas i{
  font-size: 30px;
  opacity: 50%;
  margin-right: 15px;
  transition: all .3s ease;
}

#setas i:hover {
  opacity: 100%;
  cursor: pointer;
}

#dropbtn{
  display: flex;
  padding: 3px;
  border-radius: 25px;
  border: none;
  background-color: black;
  align-items: center;
  width: 170px;
  cursor: pointer;
  transition: all .3s ease;
}

#dropbtn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#dropbtn p {
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding-left: 10px;
}

#dropbtn i{
  color: white;
  margin-left: 15px;
  font-size: 20px;
}


#dropdown {
  position: relative;
  display: inline-block;
}


#dropbtn p {
  margin-left: 10px; 
  margin-right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282828;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

#dropdown.show .dropdown-content {
  display: block;
}

.title-home {
  font-size: 30px;
  margin-top: 25px;
  font-weight: 600;
}

#grid-playlist {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 34px;
  margin-top: 20px;
}

.grid-item {
  border-radius: 3px;
  background: #303030;
  height: 65px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 15px;
}

.grid-item img{
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.grid-item p{
  font-size: 18px;
  font-weight: 600;
}

.title-home2 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 25px;
}

#grid-playlist2 {
  display: grid;
  grid-template-columns: repeat(6, 150px);
  gap: 16px;
  margin-top: 20px;
}

.grid-item2 {
  background-color: #181818;
  height: 150px;
  border-radius: 6px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.grid-item2 img{
  width: 120px;
  height: 100px;
  border-radius: 6px;
}