#leftbar {
  background: #000000;
  width: 301px;
  height: calc(100vh - 92px);
  color: white;
  padding: 20px 30px;
  align-items: center;
}
#leftbar img {
  width: 130px;
  height: 40px;
  flex-shrink: 0;
  margin-bottom: 20px;
}
#list-left1,#list-left2 {
  list-style: none;
}


#list-left1 li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-left: 20px;
  
}

#list-left1 li {
  margin-bottom: 5px;
  border-radius: 6px;
  padding: 3px;
  width: 250px;
  background-color: rgba(40, 40, 40, 0);
  transition: all .3s ease;
}

#list-left1 li:hover {
  background-color: rgba(40, 40, 40, 0.7);
}

#list-left2 li {
  margin-bottom: 5px;
  transition: all .3s ease;
  width: auto;
}

#list-left2 li:hover {
  color: #737373;
  cursor: pointer;
}
#list-left2 {
  margin-top: 25px;
}

.fa-square-plus {
  font-size: 20px;
}
.fa-heart {
  background: linear-gradient(150deg,purple 10px, aqua);
  padding: 4px;
  font-size: 10px;
  border-radius: 3px;
}

.fa-podcast {
  padding: 5px;
  font-size: 10px;
  background-color: #365314;
  color: #65a30d;
  border-radius: 3px;
}

.fa-circle-down {
  margin-right: 15px;
  font-size: 20px;
}